.profilInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgProfil{
    width: 30%;
    display: flex;
    justify-content: center;
}

.imgUser{
    width: 100%;
    object-fit: contain;
}

.button{
    background-color: rgb(245, 255, 85);
    color: #000;
    padding: 0.3em 0.6em;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    width: 200px;
    height: 30px;
}

.form{
    display: flex;
    flex-direction: column;
}

.formItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formWrap{
    display: flex;
    justify-content: center;
    align-items: center;
}