.pouitContainer{
    margin: 50px 20px;
    border-radius: 5px;
    box-shadow: #80808033 13px 5px 11px 6px;
    display: flex;
    flex-direction: column;

}

.pouitTop{
    display: flex;
    justify-content: space-between;
    padding: 0em 2em;
}

.pouitMiddle{
    text-align: center;
    padding: 1em 2em;
}

.pouitEnd{
    text-align: center;
    padding: 1em 2em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.button{
    border-radius: 10px;
    box-shadow: black 2px 3px;
}

form{
    display: flex;
    justify-content: center;
}

.inputsend{
    background-color: rgb(245, 255, 85);
    color: #000;
    padding: 0.3em 0.6em;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    width: 100px;
    height: 30px;
    margin: 1em;
    margin-top: 6em;
}