.profilInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgProfil{
    width: 30%;
    display: flex;
    justify-content: center;
}

.imgUser{
    width: 100%;
    object-fit: contain;
}


.formNotDeploy{
    display: flex;
    flex-direction: column;
    height: 2px;
    overflow: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
    
.form{
    transition: 0.3s ease-in-out;
    height: auto;
    opacity: 1;
    padding: 1em;
}

.formItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

input{
    width: 100%;
    border: black solid 3px;
    border-radius: 5px;
    height: 25px;
    font-size: 16px;
}

.formWrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

}

.onglets{
    display: flex;
    padding: 0.5em 1em;
    justify-content: space-around;
}

.button{
    background-color: rgb(245, 255, 85);
    color: #000;
    padding: 0.3em 0.6em;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    width: 200px;
    height: 30px;
    margin: 0.3em;
    font-size: 16px;
    font-weight: bold;
}

.buttonLink{
    background: none;
    border: none;
    border-bottom: 2px solid black;
    font-size: 1.3em;
    font-weight: bold;
}

@media (min-width: 900px) {

    .footerLogo{
      width: 15%;
      object-fit: contain;
    }
  
  }

@media (min-width: 1200px) {

    .imgProfil{
        width: 10%;
        display: flex;
        justify-content: center;
    }
  
  }