.header {
  background-color: #A0FF55;
  display: flex;

  font-weight: bold;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: rgba(175, 175, 175, 0.3) solid 1px;
  
}

.header p{
  margin:0;
  padding: 0.3em;
  font-size: 1.7em;
  color: black;
  font-family: 'Righteous', cursive;
}


