.pouitContainer{
    margin: 50px 20px;
    border-radius: 5px;
    box-shadow: #80808033 2px 5px 15px 2px;
    display: flex;
    flex-direction: column;

}

.pouitTop{
    display: flex;
    justify-content: space-between;
    padding: 0em 1em;
    border-bottom: #06373a40  solid 1px;
    background-color: #7BE495;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 13px;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
}

.pouitMiddle{
    text-align: center;
    padding: 1em 2em;
    font-size: 18px;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.pouitEnd{
    text-align: center;
    padding: 1em 2em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-top: #06373a40  solid 1px;
}

.button{
    border: none;
    border-radius: 10px;
    box-shadow: none;
    background: none;
}

img{
    width: 20px;
    display: flex;
}

.edit{
    text-align: right;
}

.none{
    display: none;
}